{% extends 'base.html' %}

{% block content %}
<h2 class='d-flex justify-content-center my-3 font-italic'>리뷰 작성</h2>
<form action='/community/create_review/'>
  <div class="form-group">
    <label for="exampleInputTitle">제목</label>
    <input type="text" class="form-control" id="exampleInputTitle" name='title'>
  </div>
  <div class="form-group">
    <label for="exampleInputContent">내용</label>
    <textarea class="form-control" id="exampleInputContent" name='content'></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputRank">평점</label>
    <input type='number' class="form-control" id="exampleInputRank" name='rank' min='0' max='10'>
  </div>
  <button type="submit" class="btn btn-primary">리뷰 작성</button>
</form>
<a href='/community/' class='d-flex justify-content-end'>뒤로가기</a>
{% endblock %}